body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mint-button {
  background-color: #CDB4DB;
  color: #fff;
  border-color: #ffc8dd;
}

.mint-button:hover {
  background-color: #a2d2ff;
  color: #fff;
  border-color: #BDE0FE;
  transition: 0.8s;
}

